body{
<<<<<<< HEAD
<<<<<<< HEAD
    background-color:purple;
=======
    background-color:#4a476c;
>>>>>>> 23db9fcfaf8297da22484864ce801e1bf2e0339a
=======
    background-color:#4a476c;
>>>>>>> 23db9fcfaf8297da22484864ce801e1bf2e0339a
}   
h1 {
    font-size: 60px;
}
<<<<<<< HEAD
<<<<<<< HEAD
.Dorge{
    color: blue;
    font-size: 90px;
}
=======
=======
>>>>>>> 23db9fcfaf8297da22484864ce801e1bf2e0339a
a{
    color: lightpink;
    font-size: 30px;
}
<<<<<<< HEAD
>>>>>>> 23db9fcfaf8297da22484864ce801e1bf2e0339a
=======
>>>>>>> 23db9fcfaf8297da22484864ce801e1bf2e0339a
